body {
    background-color: black;
}

div {
 margin-left: 25%;
 width: 50%;
 margin-top: 100px;
 align-content: end;
 vertical-align: center;
}

img {
    border: 5px solid white;
    height: auto;
    align-content: center;
    width: 100%;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
}
